*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(238, 238, 238);
    // font-family: 'helvetica neue';
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26);
}

@mixin squircle-radius($rad: 0.5rem){
    corner-shape: squircle;
    border-radius: $rad;
}

@mixin scale-bc($bc: transparent){
    scale: 0.95;
    border-color: $bc;
}

// :root{
//     --x: 100px;
//     --y: 100px;
// }

#root{
    width: 100%;

    .todoSection{
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        text-align: center;

        .addtodo{

            input{
                background-color: rgb(49, 49, 49);
                padding: 0.7rem;
                border: none;
                @include squircle-radius();
                margin-right: 1rem;
            }

            button{
                background-color: rgb(21, 177, 164);
                padding: 0.5rem;
                border: none;
                @include squircle-radius();
                transition: all 0.1s ease-in-out;
            }
            button:active{
                background-color: rgb(14, 215, 198);
                scale: 0.95;
            }
        }

        .todoscontainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .todo{
                padding: 0.7rem;
                border: 2px solid grey;
                background-color: rgb(49, 49, 49);
                @include squircle-radius(1rem);
                width: 30%;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
            .todo:active{
                transform: scale(0.95);
            }
    
            .todo.done{
                border-color: rgb(151, 255, 113);
                background: linear-gradient(to left,lime, rgb(57, 194, 23), lime);
            }
        }
    
    }
    
    .colorSection{
        display: flex;
        justify-content: center;
        padding-top: 5rem;

        .card{
            height: 20rem;
            padding: 2rem;
            border: 2px solid grey;
            @include squircle-radius(2rem);
            width: 30%;
            cursor: pointer;
        }
        .card.error{
            border-color: rgb(216, 0, 0);
            background-color: rgb(49, 49, 49);
            color: rgb(216, 0, 0);
        }
    }

    .stopwatchSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-top: 5rem;
        
        .stopwatch{
            padding: 0.1rem;
            width: 100px;
            border: 0.1rem solid rgb(76, 76, 76);
            @include squircle-radius(5rem);
            text-align: center;
            overflow: hidden;

            button{
                width: 50%;
                background-color: rgb(49, 49, 49);
                border: 0.1rem solid rgb(76, 76, 76);
                padding: 0.3rem;
                @include squircle-radius(1rem);
            }
            .reset{
                width: 100%;
                padding: 0.5;
                border: none;
            }
            .start:active{
                @include scale-bc(rgb(255, 220, 82));
            }
            .stop:active{
                @include scale-bc(rgb(255, 78, 78));
            }
            .reset:active{
                @include scale-bc();
                color: black;
                background-color: #fff;
            }
        }

        .stopwatch.running{
            border-color: greenyellow;
        }
        .stopwatch.stopped{
            border-color: red;
        }
    }

    .downloadSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        
        .box{
            display: flex;
            flex-direction: column;
            background-color: rgb(49, 49, 49);
            padding: 2.5rem 5rem;
            @include squircle-radius(1rem);
            gap: 2rem;
            text-align: center;

            h3{
                color: rgb(238, 238, 238);
                font-weight: 100;
            }

            .ebar{
                height: 1rem;
                width: 50rem;
                background-color: #fff;
                @include squircle-radius(10rem);
                overflow: hidden;
                
                .ibar{
                    height: 100%;
                    width: 0%;
                    background: linear-gradient(0.25turn, green, green, greenyellow);
                    // @include squircle-radius(10rem);
                    transition: width 0.1s ease-in-out;    
                }
            }

            .butSec{
                width: 90%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                .down-percent{
                    font-weight: 600;
                    font-size: 2rem;
                }

                .download-btn{
                    border: none;
                    background-color: rgb(23, 193, 23);
                    padding: 0.5rem;
                    @include squircle-radius(1rem);
                }
                .download-btn:hover{
                    cursor: pointer;
                }
                .download-btn:active{
                    scale: 0.95;
                }
            }
        }
    }

    .likeSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        
        .card{
            display: flex;
            flex-direction: column;
            background-color: rgb(49, 49, 49);
            height: 24rem;
            width: 20rem;
            padding: 2rem;
            overflow: hidden;
            @include squircle-radius(2rem);
            text-align: center;
            gap: 1rem;

            .innercard{
                width: 100%;
                position: relative;

                img{
                    @include squircle-radius(4rem);
                    width: 100%;
                    height: 16rem;
                    object-fit: cover;
                }

                i{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size: 6rem;
                    background: url(https://media.istockphoto.com/id/1403057774/vector/gradient-background-orange-pink-and-purple-colors-rainbow-colors-magenta-yellow-and-red.jpg?s=612x612&w=0&k=20&c=vjBJxXPU7QXTUgGcMYVq-4xp7W7ns4wkjf42pDVK2K0=);
                    background-size: cover;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    opacity: 0;
                    transform: translate(-50%,-50%) scale(0) rotate(60deg);
                    transition: all ease 0.3s;
                }
            }

            .txt{

                h1{
                    color: palevioletred;
                }
            }
        }

    }

    .diffBoxSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-bottom: 5rem;

        .diffbox{
            background-color: rgb(49, 49, 49);
            border: 0.01rem solid rgb(76, 76, 76);
            height: 30rem;
            width: 80%;
            margin-bottom: 5rem;
            position: relative;
            @include squircle-radius(1rem);
            cursor: none;
            
            .inner-diffbox{
                height: 100%;
                width: 100%;
                @include squircle-radius(1rem);

                #cursor{
                    height: 2.5rem;
                    position: absolute;
                    transform: translate(-50%, -50%) scaleX(-1);
                    -webkit-user-drag: none;
                    pointer-events: none;
                }
            }
        }
    }

    .spotlightSection{
        padding-bottom: 5rem;
        --x: 200px;
        --y: 100px;
        
        .obox{
            height: 40rem;
            width: 100%;
            @include squircle-radius(1rem);
            overflow: hidden;

            .box{
                position: absolute;
                z-index: 5;
                height: 40rem;
                width: 100%;
                border: 0.06rem solid rgb(76, 76, 76);
                cursor: none;
                // background: linear-gradient(in hsl to right, white, red, purple);
                // function that define how colors are to be mixed/interpolated
                // in oklab(rectangular), in hsl(polar)
                
                background: radial-gradient(200px at var(--x) var(--y), transparent, rgba(0, 0, 0, 0.932));
                display: flex;
                flex-wrap: wrap;
            }

            video{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .hacktextSection{
        padding-top: 5rem;
        padding-bottom: 5rem;
        
        .h-text{
            display: flex;
            justify-content: center;
            text-align: center;
            
            div{
                background-color: rgb(49, 49, 49);
                padding: 1rem;
                @include squircle-radius(1rem);
                border: 0.06rem solid rgb(76, 76, 76);
                width: 50rem;

                h1{
                    background: linear-gradient(to right, green, lawngreen);
                    background-position: center;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: 500;
                }
            }

            div:hover{
                transform: translateY(-5%) scale(1.1);
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.292);
                border-color: rgba(126, 252, 0, 0.263);
            }
        }
    }
}