* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(238, 238, 238);
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 26);
}

#root {
  width: 100%;
}
#root .todoSection {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  text-align: center;
}
#root .todoSection .addtodo input {
  background-color: rgb(49, 49, 49);
  padding: 0.7rem;
  border: none;
  corner-shape: squircle;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
#root .todoSection .addtodo button {
  background-color: rgb(21, 177, 164);
  padding: 0.5rem;
  border: none;
  corner-shape: squircle;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
}
#root .todoSection .addtodo button:active {
  background-color: rgb(14, 215, 198);
  scale: 0.95;
}
#root .todoSection .todoscontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#root .todoSection .todoscontainer .todo {
  padding: 0.7rem;
  border: 2px solid grey;
  background-color: rgb(49, 49, 49);
  corner-shape: squircle;
  border-radius: 1rem;
  width: 30%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#root .todoSection .todoscontainer .todo:active {
  transform: scale(0.95);
}
#root .todoSection .todoscontainer .todo.done {
  border-color: rgb(151, 255, 113);
  background: linear-gradient(to left, lime, rgb(57, 194, 23), lime);
}
#root .colorSection {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
#root .colorSection .card {
  height: 20rem;
  padding: 2rem;
  border: 2px solid grey;
  corner-shape: squircle;
  border-radius: 2rem;
  width: 30%;
  cursor: pointer;
}
#root .colorSection .card.error {
  border-color: rgb(216, 0, 0);
  background-color: rgb(49, 49, 49);
  color: rgb(216, 0, 0);
}
#root .stopwatchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 5rem;
}
#root .stopwatchSection .stopwatch {
  padding: 0.1rem;
  width: 100px;
  border: 0.1rem solid rgb(76, 76, 76);
  corner-shape: squircle;
  border-radius: 5rem;
  text-align: center;
  overflow: hidden;
}
#root .stopwatchSection .stopwatch button {
  width: 50%;
  background-color: rgb(49, 49, 49);
  border: 0.1rem solid rgb(76, 76, 76);
  padding: 0.3rem;
  corner-shape: squircle;
  border-radius: 1rem;
}
#root .stopwatchSection .stopwatch .reset {
  width: 100%;
  padding: 0.5;
  border: none;
}
#root .stopwatchSection .stopwatch .start:active {
  scale: 0.95;
  border-color: rgb(255, 220, 82);
}
#root .stopwatchSection .stopwatch .stop:active {
  scale: 0.95;
  border-color: rgb(255, 78, 78);
}
#root .stopwatchSection .stopwatch .reset:active {
  scale: 0.95;
  border-color: transparent;
  color: black;
  background-color: #fff;
}
#root .stopwatchSection .stopwatch.running {
  border-color: greenyellow;
}
#root .stopwatchSection .stopwatch.stopped {
  border-color: red;
}
#root .downloadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#root .downloadSection .box {
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 49, 49);
  padding: 2.5rem 5rem;
  corner-shape: squircle;
  border-radius: 1rem;
  gap: 2rem;
  text-align: center;
}
#root .downloadSection .box h3 {
  color: rgb(238, 238, 238);
  font-weight: 100;
}
#root .downloadSection .box .ebar {
  height: 1rem;
  width: 50rem;
  background-color: #fff;
  corner-shape: squircle;
  border-radius: 10rem;
  overflow: hidden;
}
#root .downloadSection .box .ebar .ibar {
  height: 100%;
  width: 0%;
  background: linear-gradient(0.25turn, green, green, greenyellow);
  transition: width 0.1s ease-in-out;
}
#root .downloadSection .box .butSec {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#root .downloadSection .box .butSec .down-percent {
  font-weight: 600;
  font-size: 2rem;
}
#root .downloadSection .box .butSec .download-btn {
  border: none;
  background-color: green;
  padding: 0.5rem;
  corner-shape: squircle;
  border-radius: 1rem;
}
#root .downloadSection .box .butSec .download-btn:hover {
  cursor: pointer;
}
#root .downloadSection .box .butSec .download-btn:active {
  scale: 0.95;
}/*# sourceMappingURL=App.css.map */